body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section.image-background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/pizza1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.page-content h1 {
  width: 900px;
  font-size: 70px;
  text-align: center;
  margin-top: 40%;
  color: wheat;
}