.navbar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

.navbar-wrapper.black{
  background: rgba(0, 0, 0, 0.8);
  height: 100px;
  padding: 10px 100px;
}

.navbar-wrapper .navbrand{
  padding: 22px 20px;
  height: 80%;
  font-size: 24px;
  font-weight: 400px;
  text-decoration: none;
  float: left;
  color: #fff;
  transition: 0.3s;
}

.navbar-wrapper.black .navbrand{
  color: #fff;
}
.navbar-wrapper ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-wrapper ul li{
  list-style: none;
}

.navbar-wrapper ul li a{
  line-height: 80px;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.navbar-wrapper.black ul li a{
  color: #fff;
}

.navbar-wrapper ul a:focus{
  outline: none;
}
.navbar-wrapper ul a:hover{
  border: 1px solid #fff;
}

.navbar-wrapper ul a.active{
  background: #e2472f;
  color: #fff;
  border-radius: 6px;
}
